body{
    background-image:url(https://www.simplilearn.com/ice9/free_resources_article_thumb/Advantages_and_Disadvantages_of_artificial_intelligence.jpg)
}
#png{
    border:3px solid rgb(rgb(157, 39, 39), green, blue);
    border-radius: 30px;
}